.bookName {
    font-weight : bold;
    font-size : 12px;
}

.author {
    font-size : 14px;
}

.result-books {
    margin-bottom  :40px;
}

.main-container {
    padding : 5rem;
}

.top5 {
    margin-bottom : 1.5rem;
}